footer
    .container
        | &copy; Myriam Frisano &middot; #[a(href="http://halfapx.com/de/" target="_blank") halfapx.com] &middot; 2017 &middot; #[a(href="https://github.com/mynimi/words-gone-wild" target="_blank") source code]
script(src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous")
script(src="js/jquery.olbox.min.js")
script(src="js/main.js")
