-
    var pictures = [
        { name: "Curve", img: "Curve", url: "", vid: "https://www.youtube.com/embed/1rFK1vEf-tE?loop=1&playlist=1rFK1vEf-tE&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Dainty", img: "Dainty", url: "", vid: "https://www.youtube.com/embed/uvmYFk0Snp8?loop=1&playlist=uvmYFk0Snp8&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Festive", img: "Festive", url: "", vid: "https://www.youtube.com/embed/kq6THpRMKjs?loop=1&playlist=kq6THpRMKjs&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Floral", img: "Floral", url: "", vid: "https://www.youtube.com/embed/lgxkI_1bbYA?loop=1&playlist=lgxkI_1bbYA&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Fluff", img: "Fluff", url: "", vid: "https://www.youtube.com/embed/9zt-fZpXOvM?loop=1&playlist=9zt-fZpXOvM&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Freckled", img: "Freckled", url: "", vid: "https://www.youtube.com/embed/9dMf7WZjcRo?loop=1&playlist=9dMf7WZjcRo&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Frost", img: "Frost", url: "", vid: "https://www.youtube.com/embed/7GWJc1EJi4w?loop=1&playlist=7GWJc1EJi4w&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Hidden", img: "Hidden", url: "", vid: "https://www.youtube.com/embed/CeqXISDVnwI?loop=1&playlist=CeqXISDVnwI&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Lavender", img: "Lavender", url: "", vid: "https://www.youtube.com/embed/QQoVZC2v8Ao?loop=1&playlist=QQoVZC2v8Ao&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Leaf", img: "Leaf", url: "", vid: "https://www.youtube.com/embed/aK-6IPFmhfo?loop=1&playlist=aK-6IPFmhfo&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Lost", img: "Lost", url: "", vid: "https://www.youtube.com/embed/p3VfMKC0Y_s?loop=1&playlist=p3VfMKC0Y_s&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Moss", img: "Moss", url: "", vid: "https://www.youtube.com/embed/pSVO32KwC64?loop=1&playlist=pSVO32KwC64&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Proud", img: "Proud", url: "", vid: "https://www.youtube.com/embed/ncCLr1JpgII?loop=1&playlist=ncCLr1JpgII&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Spiky", img: "Spiky", url: "", vid: "https://www.youtube.com/embed/-hfgE_tUcUc?loop=1&playlist=-hfgE_tUcUc&autoplay=1&controls=1&modestbranding=1rel=0" },
        { name: "Spiral", img: "Spiral", url: "", vid: "https://www.youtube.com/embed/L99wcIURcxg?loop=1&playlist=L99wcIURcxg&autoplay=1&controls=1&modestbranding=1rel=0" }
    ]
